@using FarmersDiary.Core.Models;
@model FarmerViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

<section class="add-profile-section">
    <article class="adding-profile">
        <form method="post" asp-action="AddProfile" asp-controller="Farmer">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" class="form-control"/>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
            <label asp-for="@Model.Surname">Surname</label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="@Model.Surname" class="text-danger"></span>
            <label asp-for="@Model.Address">Address</label>
            <input asp-for="@Model.Address" class="form-control" />
            <span asp-validation-for="@Model.Address" class="text-danger"></span>
            <label asp-for="@Model.Email">Email</label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
            <button type="submit">Submit</button>
        </form>
    </article>
</section>



