@using FarmersDiary.Core.Models;
@model FarmerViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container" style="text-align:center">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-8">
                <form method="post">

                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="Name" value="@Model.Name">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Surname</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="Surname" value="@Model.Surname">
                                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="Email" value="@Model.Email">
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="Address" value="@Model.Address">
                                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


