@using FarmersDiary.Core.Models;
@model HomeViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

<table class="farms-list">
    <thead>
        <tr class="table100-head">
            <th class="column1">Name</th>
            <th class="column2">Category</th>
            <th class="column3">Number of animals</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.farms)
        {
            <tr>
                <td class="column1"> @item.Name</td>
                <td class="column2"> @item.AnimalCategory</td>
                <td class="column3">@item.NumberOfAnimals</td>
                <td class="column5">
                <td class="column5">
                    <a asp-area="Client" asp-controller="Farm"
                   asp-action="Farm"
                   asp-route-id=@item.Id>Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="farms-list">
    <thead>
        <tr class="table100-head">
            <th class="column1">Parcel Number</th>
            <th class="column2">Size</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.parcels)
        {
            <tr>
                <td class="column1"> @item.Number</td>
                <td class="column2"> @item.Area</td>
                <td>
                    <a asp-area="Client" asp-controller="Land"
                   asp-action="Parcel"
                   asp-route-id=@item.Id>Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<table class="farms-list">
    <thead>
        <tr class="table100-head">
            <th class="column1">Mark</th>
            <th class="column2">Model</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.vehicles)
        {
        <tr>
        <td class="column1"> @item.Make</td>
        <td class="column2"> @item.Model</td>
        <td class="column3">
        <a asp-area="Client" asp-controller="Vehicle"
        asp-action="Vehicle"
        asp-route-id=@item.Id>Details</a>
        </td>
        </tr>
        }
    </tbody>
</table>

