@using FarmersDiary.Core.Models;
@{
    Layout = "../Shared/_Layout.cshtml";
    var mother = ViewBag.mother;
    var validation = ViewBag.validationModel;
}

@model List<AnimalShortViewModel>


<section class="board">
    <article>
        <form method="post">
            <label for="ModerId">Mother</label>
            <select id="MotherId" name="MotherId" >
                    <option value="@mother.Id">@mother.Number</option>
            <</select>
            <span asp-validation-for="@validation.?MotherId" class="text-danger"></span>
            <label for="FatherId">Father</label>
            <select id="FatherId" name="FatherId" >
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Number</option>
                }
            <</select>
            <span asp-validation-for="@validation.?FatherId" class="text-danger"></span>
            <label for="Date">Date</label>
            <input type="date" id="Date" name="Date" />
            <span asp-validation-for="@validation.?Date" class="text-danger"></span>
            <input type="submit" />

        </form>
    </article>
</section>
