@{
    Layout = "../Shared/_Layout.cshtml";
}
@model FarmersDiary.Core.Models.AnimalViewModel


<section class="farm-view" style="text-align:center">
    <article>
        <h3>@Model.Number</h3>
        <p>@Model.Breed</p>
        <p>@Model.DOB</p>
        <p>@Model.Sex</p>
        <p>@Model.AgeCategory</p>

        <a class="btn btn-info" asp-area="Client" asp-controller="Animal"
           asp-action="EditAnimal" asp-route-id=@Model.Id>Edit</a>

        <a class="btn btn-info" asp-area="Client" asp-controller="Animal"
           asp-action="DeleteAnimal" asp-route-id=@Model.Id>Delete</a>

    </article>
    @if (Model.Sex == FarmersDiary.Infrastructure.Enums.Sex.Female)
    {
        
            var parms = new Dictionary<string, string> {{ "motherId", Model.Id.ToString() }};
        <article>
            <a class="btn btn-info" asp-area="Client" asp-controller="Labour"
           asp-action="AddLabour" asp-all-route-data="parms">Add Labour</a>
            <table>

                @foreach (var item in Model.Labours)
                {
                    <tr>
                        <td class="column1"> @item.Date</td>
                        <td class="column2"> @item.MotherId</td>
                        <td class="column3">
                            <a asp-area="Client" asp-controller="Labour"
                       asp-action="Labour"
                       asp-route-id=@item.Id>Details</a>
                        </td>
                    </tr>
                }
            </table>
        </article>
    }
</section>